*{
    padding: 0;
    margin: 0;
}
h1
{
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
}
h2
{
    text-align: center;
    background-color: rgb(31, 119, 192);
    color: black;
    padding: 10px;
}
h3
{
    text-align: center;
    background-color: rgb(221, 33, 33);
    color:whitesmoke;
    padding: 8px;
}